.controller {
    width: 80%;
    margin: 50px auto;
    background: #eee;
    padding: 50px;
    border: 1px solid #ddd;
}

button {
    padding: 20px 25px;
    background: rgb(54, 54, 54);
    color: #eee;
    border: 0;
    margin-left: 20px;
}